.root {
  border-radius: var(--corner-radius-m);
  background-color: var(--bg-brand);
  width: 100%;
}

.content {
  padding: 54px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @media (--tablet) {
    padding: 54px 24px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  text-align: center;
  max-width: 480px;
}

.counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
