# Server Variables  ===
OPENAI_API_KEY=sk-xxxxx

# Сlient Variables
VITE_API_URL=/api
VITE_API_PROXY=http://localhost:3000
VITE_PORT=5173

# For the local dev-mode, you can specify an explicit address and proxy
# VITE_API_URL=http://localhost:3000/api
